@model IEnumerable<eFluo.Models.Project>
@using eFluo.Models.Enums
@using Microsoft.AspNetCore.Identity
@using eFluo.Services.Interfaces

@inject UserManager<PSUser> UserManager
@inject IPSProjectService ProjectService
@inject IPSBadgeService StatusService

@{
    ViewData["Title"] = "All Projects";
    PSUser psUser = await UserManager.GetUserAsync(User);

}




<div class="container-fluid">



    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <h5>All Projects</h5>
                    <table id="style-3" class="table style-3  table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>

                                <th class="text-center">
                                    Project Manager
                                </th>

                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.ProjectPriority)
                                </th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <h6>

                                            @Html.DisplayFor(modelItem => item.Name)
                                        </h6>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>

                                    <td class="text-center">
                                        @{
                                            PSUser PM = await ProjectService.GetProjectManagerAsync(item.Id);
                                        }

                                        @if (PM?.AvatarFileData != null)
                                        {
                                            <img style="width:60px;height:60px" class="img-fluid rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(PM.AvatarFileData))" alt="" />
                                        }
                                        else
                                        {
                                            <span><img src="/img/avatardefault_92824.png" style="width:60px;height:60px" class="img-fluid rounded-circle" alt="avatar"></span>
                                        }
                                        <p>@PM?.FullName</p>

                                    </td>
                                    <td class="text-center">
                                        <span class="badge @StatusService.GetPriorityBadge(item.ProjectPriority?.Name ) ">
                                            @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="Details" asp-route-id="@item.Id" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Details"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" /><circle cx="12" cy="12" r="3" /></svg></a>

                                        @{
                                            bool isProjectPM = (await ProjectService.GetProjectManagerAsync(item.Id))?.Id == psUser.Id;
                                        }

                                        @if (User.IsInRole(nameof(Roles.Admin)) || isProjectPM)
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>

                                            @if (item.Archived)
                                            {
                                                <a asp-action="Restore" asp-route-id="@item.Id" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="Restore"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-up-left"><polyline points="9 14 4 9 9 4" /><path d="M20 20v-7a4 4 0 0 0-4-4H4" /></svg></a>
                                            }
                                            else
                                            {
                                                <a asp-action="Archive" asp-route-id="@item.Id" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="Archive"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive"><polyline points="21 8 21 21 3 21 3 8" /><rect x="1" y="3" width="22" height="5" /><line x1="10" y1="12" x2="14" y2="12" /></svg></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

@section scripts {

    <script>
        $('#style-3').DataTable({
            "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
                "<'table-responsive'tr>" +
                "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [5, 10, 20, 50],
            "pageLength": 5
        });

    </script>

}
